@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --surface-color: #fff;
  --blue-color: #0093E9;
  --curve: 40;
  --width: 400px;
  --height: 560px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 15px;
  background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.landing {
  text-align: center;
  padding: 2rem 2rem;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.landing h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.landing p {
  font-size: 1.5rem;
  font-weight: 400;
}

.teams {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  overflow: hidden;
  border-radius: calc(var(--curve) * 1px);
  position: relative;
  display: flex;
  justify-content: center;
  width: var(--width);
  height: var(--height);
}

.card_arc {
  position: absolute;
  right: 0;
  top: -80px;
  width: 80px;
  height: 80px;
}

.card_arc>path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card_image {
  border-radius: calc(var(--curve) * 1px);
  width: var(--width);
  height: var(--height);
  object-fit: cover;
}

.card_overlay {
  border-top-left-radius: calc(var(--curve) * 1px);
  padding-top: 20px;
  background-color: #fff;
  width: var(--width);
  position: absolute;
  bottom: -60px;
}

.card_header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card_header p {
  width: 270px;
}

.card_thumb {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100px;
}

.card_header-text>* {
  margin: 10px 0;
}

.card h3 {
  font-size: 1em;
}

.card_header-text p {
  font-size: 0.8em;
}


.card_status>* {
  margin-right: 5px;
}

.card_description {
  position: relative;
  bottom: -50px;
  font-size: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card:hover .card_overlay {
  transition: bottom ease-in 0.2s;
  bottom: 0;
}

.card .card_overlay {
  transition: bottom ease-in 0.2s;
}

.card:hover .card_description {
  transition: bottom ease-in 0.3s;
  bottom: 0;
}

.card .card_description {
  transition: bottom ease-in 0.3s;
}

.card_status i,
.card_title {
  color: #007BC1;
}